*{
  margin: 0;
  padding: 0;
}

body 
{
    background-color:#193a1d
    ;
    box-sizing: border-box;
   
}
.row 
{
    margin-top: 200px;
}

  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8; 
    cursor: pointer; 
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  
  /* Closable button inside the expanded image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }
#img
{
    height: 450px;
    width: 600px;
     
}

.column img:hover {opacity: 0.7;}

#Food1,#Food2,#Food3,#Food4,#Food5
{
    margin: 200px;
    width: 100%;
  
}
.column {
  float:left;
    width:16%;
    padding: 10px;
 
  }
 
  #imgtext
  {
      background-color: white;
      color: #000;
      margin: 15px;
      line-height: 1.5;
      margin-left: 70px;
      font-size: medium;
      width:40%;
      height: 45%;
      display:inline-block;
      margin-top: -190px;
      border-radius: 2px;   
    
  }
  .comment 
  {
    margin: 100px;
  }
  input
  {
    width:75%;
    padding:10px;
    outline: none;
    display: flex;
    justify-self: start;
    
  }
  .fa-heart,.fa-plus
  {
color:#fbaf32;
margin:7px;
  }
#icon 
{
  display: flex;

}

#h2-comment 
{
  color:white;
}